.header {
    text-align: center;
    background-color: #567086;
    color: white !important;
    width: 100%;
}

.header span {
    font-weight: 600;
    margin-left: -30px;
    color: #fff;
}

.list a {
    color: white;
    background-color: #567086;
}

.list a:hover {
    color: #f5a623;
}

.logout {
    text-align: center;
    margin: auto 0;
}

.active {
    background-color: #f5a623 !important;
    color: #fff !important;
}
.nav{
    --bs-nav-link-hover-color: #fff;
}